<!DOCTYPE html>
<html>
    <head>
        <!-- Imports the script -->
        <script src="../src/control_pannel.js"></script>
    </head>
    <body>
        <!-- 
            This section will have all of our controls, 
            we can make it prettier with boostrap or something
            later in development.
         -->
        <button onclick="moveTurtleForward()">Forward</button>
        <button onclick="turtTurtle('left')">left</button>
        <button onclick="turtTurtle('right')">right</button>
    </body>
</html>